.range {
  display: flex;
  min-height: 50px;
  width: 70vw;
  justify-content: center;
  align-items: center;
}

.range__label {
  font-size: 1rem;
  width: 50px;
  min-width: 50px;
}

.range__input {
  width: 50px;
  padding: 0;
  border: none;
}

/* Slider */
.range__slider-wrapper {
  width: 100%;
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
}

.range__slider {
  height: 5px;
  border-radius: 5px;
  background-color: rgb(100, 100, 100);
  width: 100%;
  position: relative;
}

.range__selector {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  position: absolute;
  /* Top value: Half of height */
  top: -8px;
  box-shadow: -1px -1px 3px -1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: -1px -1px 3px -1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -1px -1px 3px -1px rgba(0, 0, 0, 0.5);
}

.range__selector:hover {
  cursor: grab;
}

.range__selector:active {
  cursor: grabbing;
  z-index: 99;
}

.range__selector.selector-min {
  left: 0px;
  background-color: rgb(250, 160, 40);
}

.range__selector.selector-max {
  right: 0px;
  background-color: rgb(20, 173, 194);
}
