.range {
  display: flex;
  min-height: 50px;
  width: 70vw;
  justify-content: center;
  align-items: center;
}

.range__label {
  font-size: 1rem;
  width: 50px;
}

/* Slider */
.range__slider-wrapper {
  width: 100%;
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
}

.range__slider {
  height: 3px;
  background-color: black;
  width: 100%;
  position: relative;
}

.range__selector {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  border: 1px solid black;
  position: absolute;
  /* Top value: Half of height */
  top: -10px;
}

.range__selector:hover {
  cursor: grab;
  transform: scale(1.5);
}

.range__selector:active {
  cursor: grabbing;
}

.range__selector.selector-min {
  left: 0px;
  background-color: red;
}

.range__selector.selector-max {
  right: 0px;
  background-color: blue;
}
